html {
  height: 100%;
  width: 100%;
   font-family: "Oswald", sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.profile-image{
  width: 30%;
}

.profile-image img{
  width: 100%;
}

.resume-header{
  display: flex;
  flex-direction: row-reverse;
}

.resume-main{
  display: flex;
}

.sidebar{
  width: 30%;
}

.experience{
  width: 30%;
}

.skills{
  width: 30%;
}

h1, h2, h3 {
  font-family: "EB Garamond", serif;
}